$ruler: 16px;
$white: #feeeee;
$color-bg: #272727;
$color-shadow: #141414;
$color-white: #212121;
$color-neon: #1DB954;

body, html {
  background-color:$color-bg;
}
.container{
    max-width: 1400px;
    margin: 2rem 8rem;
    
}
a{
    text-decoration: none;
}

h1 {
  color: white;
}
body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
}
div, p {
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
  }
  form {
    padding: $ruler*2;
    width: $ruler*30;
    margin: 0 auto;
  }
  
  .segment {
    padding: $ruler*2 0;
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  
  button, input{
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-white;
  }
  .none{
      color: $white;
      text-decoration: none;
      font-size: 5rem;
  }
  input, label {
      font-size: 2rem;
  }
  
  label {
    display: block;
    margin-bottom: $ruler*1.5;
    width: 100%;
  }

  
  input {
    color: $white;
    caret-color: $white;
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }
  
  button{
      font-size: 1.2rem;
      letter-spacing: 1px;
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    
    &:hover {
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }
    
    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
    
    .icon {
      margin-right: $ruler/2;
    }
    h5{
        font-size: 3rem;
    }
    
    &.unit {
      border-radius: $ruler/2;
      line-height: 0;
      width: $ruler*3;
      height: $ruler*3;
      display:inline-flex;
      justify-content: center;
      align-items:center;
      margin: 0 $ruler/2;
      font-size: $ruler*1.2;
      
      .icon {
        color: #5372fe;
        margin-right: 0; 
      }
    }
    
    &.red {
      display: block;
      width: 100%;
      color:$white;
    }
  }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    label {
      margin: 0;
      flex: 1;
    }
  }
  .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  a:active{
    color: $color-neon;
    
}
img{
    width: 25rem;
    height: 40rem;
    border-radius: 18px;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.hero{
    margin-left: 5rem;
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 5rem;
        color: $color-neon;
        margin: 2rem 0 2rem 13rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2rem;
    }
}



