<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="navbar container">
      <div class="header-logo">
        <a href="#" class="none">Event</a> 
      </div>
      <nav class="nav">
        <ul class="flex navbar column">
            <li>
                <a class="features" href="/events/">
                  <button class="red">Features</button>
                  </a>
            </li>
        </ul>
    </nav>
    </header>
    <main class="container">
      <section  class="flex">
        <img src="/images/antoine-julien-wvl8aKUtVsU-unsplash.jpg" alt="Nice">
        <div class="hero">
          <h1>A Normal<br/> <h2> Event page</h2></h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptate nesciunt est quos nostrum laboriosam modi, quas natus obcaecati eum. Delectus quis beatae commodi eaque, debitis nesciunt harum? Autem, veritatis.</p>
        </div>
      </section>
    </main>
    <footer class="container">

    </footer>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
  </body>
</html>
